<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hiduke %><br>
    <%= f.date_select :hiduke %>
  </div>
  <div class="field">
    <%= f.label :staff_id %><br>
    <%= f.number_field :staff_id %>
  </div>
  <div class="field">
    <%= f.label :constraction_id %><br>
    <%= f.number_field :constraction_id %>
    <%= f.autocomplete_field :abbreviation, autocomplete_constraction_abbreviation_works_path, id_element: '#work_constraction_id' %>
  <%= f.hidden_field :constraction_id %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :work_time %><br>
    <%= f.text_field :work_time %>
  </div>
  <div class="field">
    <%= f.label :over_time %><br>
    <%= f.text_field :over_time %>
  </div>
  <div class="field">
    <%= f.label :night_time %><br>
    <%= f.text_field :night_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
