<%= form_tag(works_path, :method => "get", id: "search-form") do %>
<!-- text field tag=action,args,identifier,placeholdertext... -->
<%= text_field_tag :search, params[:search], class: "search-query", placeholder: "namesearch", type: "search", data: {autocomplete: works_autocomplete_constraction_name_path} %>  
<%= submit_tag "Search" %>
<%end%>
<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>


<p id="notice"><%= notice %></p>

<h1>Listing Works</h1>

<table>
  <thead>
    <tr>
      <th>Hiduke</th>
      <th>Staff</th>
      <th>Constraction</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Work time</th>
      <th>Over time</th>
      <th>Night time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.hiduke %></td>
        <td><%= work.staff_id %></td>
        <td><%= work.constraction_id %></td>
        <td><%= work.start_time %></td>
        <td><%= work.end_time %></td>
        <td><%= work.work_time %></td>
        <td><%= work.over_time %></td>
        <td><%= work.night_time %></td>
        <td><%= link_to 'Show', work %></td>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work', new_work_path %>
